body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 50rem;
  padding: 2rem;
}

.entryColor {
  background: #cce5ff;
  color: darkblue;
}

.deleteEntry {
  transition: box-shadow 0.3s;

  color: red;

  cursor: pointer;
}
.deleteEntry:hover {
  background-color: rgb(250, 171, 171);
  box-shadow: 0 0 11px rgba(253, 138, 138, 255);
  border-radius: 10px;
}
