@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

#settings-container {
  display: flex;
  background-color: rgb(102, 84, 194);
  max-width: 1000px;
  margin: auto;
  margin-top: 40px;
  padding: 20px;

  height: 30vh;
  min-height: 500px;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

.material-symbols-sharp {
  user-select: none;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.checkbox {
  font-size: 80px;
}

.checkbox:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: rgb(122, 198, 122);
}


.setting-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.setting-container:last-child {
  margin-bottom: 0px;
}

@keyframes title-change-color {
  from {
    color: rgb(93, 178, 191);
  }
  to {
    color: rgb(151, 217, 228);
  }
}

.page-settings {
  color: rgb(93, 178, 191);
  animation: title-change-color infinite alternate-reverse;
  animation-duration: 1s;
}