@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");



body {
  background-color: rgb(41, 43, 59);
  color: white;
  text-align: center;
}

.game-title {
  font-weight: 400;
  font-size: 7vh;
  padding: 10px;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  background-color: rgb(80, 78, 90);
  display: inline;
  margin-top: 100px;
}

.top-padding {
  margin: 10px;
}

.title {
  font-weight: 400;
  font-size: 6vh;
  margin: auto;
  padding: 10px;
  font-family: "Press Start 2P", cursive;
  text-align: center;

  background-color: rgb(102, 84, 194);
}

.main-menu-button {
  max-width: fit-content;
  font-weight: 100;
  font-size: 4vh;
  margin: auto;
  margin-top: 80px;
  padding: 20px;

  font-family: "Press Start 2P", cursive;
  text-align: center;
  background-color: rgb(102, 84, 194);
  padding: 10px;

  color: white;
  text-decoration: none;
}

.main-menu-button:hover {
  cursor: pointer;
  user-select: none;
  -webkit-user-drag: none;
}

#continue:hover {
  transform: scale(1.1);
  transform: rotate(-1deg);

  color: rgb(31, 223, 44);
  box-shadow: 0px 0px 40px 20px rgba(138, 196, 133, 0.1);
}

#new-game:hover {
  transform: scale(1.1);
  transform: rotate(-1deg);

  color: rgb(191, 93, 101);
  box-shadow: 0px 0px 40px 20px rgba(210, 119, 119, 0.1);
}

#settings:hover {
  transform: scale(1.1);
  transform: rotate(1deg);

  color: rgb(93, 178, 191);
  box-shadow: 0px 0px 40px 20px rgba(98, 154, 176, 0.1);
}

a {
  text-decoration: none;
}

.back-button {
  position: fixed;
  right: 20px;
  bottom: 40px;
  color: white;
  background-color: rgb(102, 84, 194);
  padding: 10px;
}

.text {
  font-family: "Press Start 2P", cursive;
  font-size: 40px;
}

.back-button:hover {
  transform: scale(1.1);
  transform: rotate(-1deg);
  background-color: rgb(149, 135, 219);
}